<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title><%= meta[:title] %></title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
  <div id="site-head">
  <div class="container">
    <h1 id="site-title"> <%= meta[:title] %> </h1>
    <p id="site-subtitle"> <%= meta[:description] %> </p>
  </div>
  </div>
  <div class="container">
  <div class="row">
  <div class="col-md-9">
  <% articles.each do |article| %>
    <article class="post">
    <header class="post-header">
    <h2 class="post-title">
    <a href="<%= article[:link] %>"> <%= article[:title] %> </a>
    </h2>
    <span class="post-meta">
    <time datetime="<%= article[:datetime] %>"><%= article[:date] %></time> on <%= article[:category] %>
    </span>
    </header>
    <section class="post-excerpt">
    <%= article[:excerpt] %>
    </section>
    </article>
  <% end %>
  <div id="site-pages">
    Page <%= page %> of <%= pages %>
    <% if page > 1 %>
    <a class="newer-posts" href="/page/<%= page - 1 %>">Newer Posts →</a>
    <% end %>
    <% if pages > page %>
    <a class="older-posts" href="/page/<%= page + 1 %>">Older Posts →</a>
    <% end %>
  </div>
  </main>
  </div>
  <div class="col-md-3 side">
    <p> Links </p>
    <div class="links">
    <% meta[:links].each do |link| %>
      <a href="<%= link["link"] %>" class="links"><%= link["name"] %></a>
      <br />
    <% end %>
    </div>
  </div>
  </div>
  <footer class="site-footer">
  Powered by <a href="https://github.com/764664/SimpleBlog">SimpleBlog</a> authored by <a href="https://github.com/764664/">Observer</a>.
  </footer>
</body>
</html>
