<!DOCTYPE html>
<html>
<head>
	<title>
		<%= meta[:title] %>
	</title>
	<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
	<div class="container">
	<div class="header">
		<h1 id="title"> <%= meta[:title] %> </h1>
		<h2 id="subtitle"> <%= meta[:subtitle] %> </h2>
		<% meta[:links].each do |link| %>
			<a href="<%= link[:link] %>"><%= link[:name] %></a>
		<% end %>
	</div>
	<% posts.each_value do |post| %>
		<div class="post">
		<a href="<%= post[:link] %>" class="posttitle"><h2> <%= post[:posttitle] %> </h2></a>
		<%= post[:filterhtml] %>
		</div>
	<% end %>
	<div class="footer">
	Powered by <a href="https://github.com/764664/SimpleBlog">SimpleBlog</a> authored by me.
	</div>
	</div>
</body>
</html>