<!DOCTYPE html>
<html>
<head>
	<title>
		<%= post[:posttitle] %>
	</title>
	<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<div class="container">
	<div class="header">
		<a href="/"><h1 id="title"> <%= meta[:title] %> </h1></a>
		<h2 id="subtitle"> <%= meta[:subtitle] %> </h2>
		<% meta[:links].each do |link| %>
			<a href="<%= link["link"] %>"><%= link["name"] %></a>
		<% end %>
	</div>
	<h2> <%= post[:posttitle] %> </h2>
	<div class="content"> <%= post[:content] %> </div>
	</div>
</body>
</html>
